 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 342px;
}

.u-section-1 .u-table-1 {
  margin-bottom: 1px;
  margin-top: 1px;
}

.u-block-5ae7-10 {
  height: 46px;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-block-5ae7-25 {
  height: 46px;
}